* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: rgba(194, 193, 193, 0.7);
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
}

.content {
    width: 100%;
    height: calc(100vh - 20%);
    display: flex;
    align-items: center;
    justify-content: center;
}
.content header {
    margin-bottom: 80px;
    line-height: 1.6;
}
.content header .title span {
    font-size: 80px;
    color: rgba(54, 54, 54, 0.794);
}  
.links {
    margin: 0 50px;
    width: calc(100% - 160px);
    display: flex;
    justify-content: center;
} 
.links span {
    margin: 0 80px;
    width: 500px;
    height: 80px;
    background-color: rgb(0, 150, 136);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-weight: 700;
    border-radius: 4px;
    box-shadow: 2px 3px 5px rgb(0, 150, 136);
    cursor: pointer;
    transition: all 0.3s ease;
}  
.links span:hover {
    transform: scale(1.1);    
    background-color: rgb(0, 130, 117);
}

.links span a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.875);
}